/vendor/
vendor/composer/ClassLoader.php
vendor/composer/installed.php
vendor/composer/InstalledVersions.php
vendor/composer/LICENSE
.modell
.modell-usb
.version

/storage/salas/*
!storage/salas/caramelo.jpg
/storage/n_conformidade/*
/storage/acao_corretiva

config.ini

