/vendor/
vendor/composer/ClassLoader.php
vendor/composer/installed.php
vendor/composer/InstalledVersions.php
vendor/composer/LICENSE
.modell
.modell-usb
.version

/storage/salas/*
!storage/salas/imagempadrao.jpg
!storage/salas/gifpadrao.gif

/storage/n_conformidade/*
!storage/n_conformidade/default.65b15311d4f37.jpg

/storage/acao_corretiva
!storage/acao_corretiva/default.jpg


