 
 
tr{
     
    text-align: center;
}

.area_card_sala{
    width: 20vw;
    height: 160px;
    flex-direction: column;
    background-color: rgba(238, 238, 238, 0.623);


    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}
 

.status_progresso_sala{
    width: 30vw;
    height: 160px;
    background-color: rgba(238, 238, 238, 0.623);


}
.datas_sala{
    width: 13vw;
    height: 160px;
    background-color: rgba(238, 238, 238, 0.623);

}
.intervencao_sala{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 19vw;
    height: 160px;
    background-color: rgba(238, 238, 238, 0.623);
}


.docente_sala{

    width: 18vw;
    height: 160px;
    background-color: rgba(238, 238, 238, 0.623);
    display: flex;
    align-items: center;
    justify-content: center;
}
.img_card_sala{

    height: 100px;
    width: 190px;
    border-radius: 15px;
    object-fit: cover;
   position: relative;
   top: -25px;
   right: -40px;
    background-color: white;

}
.border_card_sala{
    position: absolute;    
    
    height: 100px;
    width: 190px;
    border-radius: 15px;
    border: 2px solid blue;
    bottom: 15px;
    
}
.bola_status_sala{
    height: 12px;
    width: 12px;
    border-radius: 500px;

}
.red{
    background-color: red;
}
.area_status{
    display: flex;
    height: 50px;
    width: 200px;
    gap: 10px;
    align-items: center;
 
     
}
.text_about_status{
    text-align: start;
     
    color: rgb(163, 163, 163);
}
.content_status{
    width: 90%;
    position: relative;
    margin: auto;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
.titulo_area_status{
    font-size: 20px;
}

.nome_sala{
    width: 186px;
    position: absolute;
    bottom: 19px;
    font-size: 12px;
    text-align: start;
    word-wrap: break-word;
    left: 95px;
    font-family: 'Montserrat';
    font-weight: bold;
}

.datas_sala{

    display: flex;
    align-items: center;
    justify-content: center;

}

.barra_progressao{

   width: 250px;
   height: 30px;
   border-radius: 15px;
   background-color: rgb(207, 207, 207);
   overflow: hidden;
   position: relative;

}
.barra_progressao::after{

    content: "";
    left: 0;
    position: absolute;
    bottom: 0;
    height: 100%;
    border-radius: 50px;
    width: 95%;
    
    background-color: green;

}


.nome_docente{
    width: 80%;
    word-wrap: break-word;
     
}
.topo_tabela{


    position: sticky;
    top: 0;
    z-index: 2;
    height: 50px;
    background-color: rgb(226, 226, 226);

}