/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
}

/* Estilos das abas */
.tab {
  display: none;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
}

/* Estilos do menu das abas */
.tab-menu {
  display: flex;
  list-style: none;
  padding: 0;
}

.tab-menu li {
  margin: 0;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  border-radius: 5px 5px 0 0;
  margin-bottom: -1px;
}

.tab-menu li.active {
  background-color: #2980b9;
}

/* ------------------------------------- */

/* Estilo da Caixa */

.selecao-pergunta{
  border: 1px solid rgb(208, 208, 208);
  border-radius: 8px;

}

.caixa-pergunta{
  display: flex;
  width: 100%;
  height: 450px;
  border-radius: 15px;
  background-color: rgba(103, 162, 246, 0.157);
}

th {
  
  height: 25px;
  background-color: #064A8C;
  color: rgb(255, 255, 255);
  font-family: 'Montserrat';
}

td {
  
  border-bottom: 2px solid rgb(166, 166, 166);
  font-family: 'Montserrat';
  border-radius: 8px;
  padding: 8px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: bold;    
}

/* Estilizando CheckBox */


#checkbox{
  appearance: none;
  border: 2px solid #064A8C;
  border-radius: 50px;
  background-color: transparent;
  padding: 4px;
  cursor: pointer;
  color: #064A8C;
}

#checkbox::after{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  font-size: 15px;
  color: white;
  display: block;
}

#checkbox:hover{
  background-color: rgb(236, 236, 236);
  
}

#checkbox:checked{
  background-color: #064A8C;

}
#checkbox:checked::after{
  display: block;
}


/* estilo de rolagem */

.primeira-caixa::-webkit-scrollbar{
    width: 8px;
    background-color: #eeeeee;
    border-radius: 10px;
  }

  .primeira-caixa::-webkit-scrollbar-thumb{
    background-color: #F28920;
    border-radius: 10px; 
} 
