.tela_detalhes{
    width: 100%;
    max-width: 830px;
    margin: auto;
}
.titulo{
    width: 100%;
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    
}
.dados_responsavel{
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 20px;
}
.esquerda{
    width: 40%;
}
.direita{
    width: 40%;
    margin-right: 9%;
}
.area_nao_conformidade{
    
    flex-direction: column;
    width: 96%;
    height: 60vh;
    max-width: 832px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    overflow-y: scroll;
    border-radius: 10px;
    padding: 5px;
}
.titulo_nao_conformidade{
    font-size: 18px;
    margin-bottom: 10px;
}
.nao_conformidade{
    width: 96%;
    height: 245px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 30px;
    /* background-color: rgb(187, 40, 40); */
    border: solid black 1px;
    box-shadow: 2px 2px 8px 0px;
}
.texto_nao_conformidade{
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: start;
    width: 99%;
}


.area_nao_conformidade::-webkit-scrollbar{
    width: 8px;
    background-color: #eeeeee;
    border-radius: 10px;
}
    
.area_nao_conformidade::-webkit-scrollbar-thumb{
    background-color: #F28920;
    border-radius: 10px; 
} 

.area_imagens{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.imagem_nao_conformidade{
    width: 160px;
    height: 160px;
    border-radius: 15px;
    /* margin-right: 5%; */
}

.view_imagem{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba(115, 115, 115, 0.522);
    z-index: 100000000000000000000000000000000000000000000000000000000000000000000;
}

.imagem_expandida{
    width: 60%;
    height: 65%;
    border-radius: 15px;
}



.area_botões{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.botao-padrao-voltar{
    width: 100%;
    border-radius: 20px;
    border: solid black 1px;
    background-color: #F28920;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .gerar_relatorio{
    margin-right: 8%;
  }
  .imprimir{
    width: 100%;
    border-radius: 20px;
    border: solid black 1px;
    background-color: #249e24;
    display: flex;
    align-items: center;
    justify-content: center;
  } 

.botao-voltar-link{
      /* width: 110px; */
    display: inline-block;
    padding: 10px 60px;
    background-color: var(--cor-primaria-botao-white);
    border: 3px solid var(--cor-primaria-botao-yellow);
    border-radius: 20px;
    cursor: pointer;
    color: var(--cor-primaria-botao-yellow);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}




