/* Css input */


.input_group.field{
  width: 100%;
  
}

.input_group {
    position: relative;
    padding: 20px 0 0;
    width: 100%;
  }
  
  .input_field {
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: 0;
    color: black;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    left: 10%;
  }
  
  .input_field::placeholder {
    color: transparent;
  }
  
  .input_field:placeholder-shown ~ .input_label {
    font-size: 17px;
    cursor: text;
    top: 37px;
    left: 10px;
  }
  

  
  .input_label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.3s;
    color: #9b9b9b;
    pointer-events: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    left: 10px;
    
  }

  
  .input_field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image-slice: 1;
    
  }
  
  .input_field:focus ~ .input_label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.3s;
    font-size: 17px;
    font-weight: 700;
    left: 10px;
  }
  
  .input_field:required, .input_field:invalid {
    box-shadow: none;
  }
  

