/* Estilos das abas */
.tab {
  display: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 100%;
  box-shadow: 2px 2px 10px #888888;
  background-color: #fff;
}

/* Estilos do menu das abas */
.tab-menu {
  display: flex;
  width: 100%;
  position: relative;
  list-style: none;
  padding: 0;
}

.tab-menu li {
  margin: 0;
  position: relative;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #064A8C;
  color: #fff;
  font-family: 'Montserrat';
  border-radius: 5px 5px 0 0;
}

.tab-menu li.active {
  transition: all 0.5s ease-in-out;
  background-color: #2980b9;
}

.tab-menu .line{
  position: absolute;
  height: 5px;
  width: 108px;
  background: #F28920;
  left: 0;
  border-radius: 2px;
  bottom: 0;
  transition:  all 0.29s ease-in-out;
}



.line.active{
  left: 109px;
}
/* ------------------------------------- */

/* Estilo da Caixa */

.selecao-pergunta{
  border: 1px solid rgb(208, 208, 208);
  border-radius: 8px;

}

.caixa-pergunta{
  display: flex;
  width: 100%;
  height: 450px;
  border-radius: 15px;
  background-color: rgba(103, 162, 246, 0.157);
}

th {
  
  height: 25px;
  background-color: #064A8C;
  color: rgb(255, 255, 255);
  padding: 0 4vw 0;
  font-family: 'Montserrat';
}

td {
  
  border-bottom: 2px solid rgb(166, 166, 166);
  font-family: 'Montserrat';
  border-radius: 8px;
  padding: 8px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: bold;    
}

.bi.bi-trash {
  font-size: 30px;
  color: rgb(255, 89, 89);
  cursor: pointer;
}


/* Estilizando CheckBox */


#checkbox{
  appearance: none;
  border: 2px solid #064A8C;
  border-radius: 50px;
  background-color: transparent;
  padding: 4px;
  cursor: pointer;
  color: #064A8C;
}

#checkbox::after{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  font-size: 15px;
  color: white;
  display: block;
}

#checkbox:hover{
  background-color: rgb(236, 236, 236);
  
}

#checkbox:checked{
  background-color: #064A8C;
  
}
#checkbox:checked::after{
  display: block;
}


/* estilo de rolagem */

.primeira-caixa::-webkit-scrollbar{
  width: 8px;
  background-color: #eeeeee;
  border-radius: 10px;
}

.primeira-caixa::-webkit-scrollbar-thumb{
  background-color: #F28920;
  border-radius: 10px; 
} 
.escondido{
  display: none;
}

/* Adicionar Pergunta */

/* .adicionar_pergunta{
  display: flex;
    height: 30px;
    width: 30px;
    text-align: center;
    margin-top: 6px;
    padding-left: 10px;
    border-radius: 50px;
    cursor: pointer;
}
 #add_pergunta{
  font-family: 'Montserrat';
    text-decoration: none;
    font-size: medium;
    color: #064a8c;
    padding-top: 3px;
    width: 100%;
    border-radius: 100px;
    border: 2px solid #064a8c;
}


#add_pergunta:hover,#icon_add:hover{
  transition: all 0.2s ease-in-out;
  background-color: #064A8C;
  color: white; 
}*/















.popup_cad_pergunta{
  flex-direction: column;
  width: 500px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  display: flex;
  align-items: center;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -20%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  gap: 1vh;
  box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.25);;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.open-popup5{
  visibility: visible;
  top: 55%;
  transform: translate(-50%, -50%) scale(1);
}

#form_cad_pergunta_checklist{

  position: absolute;
  z-index: 9999999999999;

}

/* TÍTULOS DO POPUP DE CADASTRAR PERGUNTAS NO CHECKLSIT */

h4{
  width: 100%;
  margin-top: 2%;
}



/* RESPONSIVIDADE DO POPUP DE CADASTRAR PERGUNTAS NO CHECKLSIT */

@media screen and (max-width: 700px ){

  .popup_cad_pergunta.open-popup5{
      width: 360px;
      top: 55%;
  }

  .botao-confirmar-submit {
      width: 115px;
  }   

  .botao-cancelar-submit{
      width: 115px;
  }

  .botoes{
      justify-content: space-between;
      gap: 25px;
  }

  h4{
      font-size: 15px;
      margin-top: 3%;
  }
}

@media screen and (max-width: 370px ){

  .popup_cad_pergunta.open-popup5{
      width: 325px;
      top: 55%;
  }

}


/* CAIXA DE TEXTO */

.area_pergunta{
  border-radius: 5px;
  margin-top: 1%;
  width: 98%;
  height: 400px;
  max-width: 832px;
  background-color: #efefef;
  overflow: hidden;
  overflow-y: scroll;
  border: 2px solid #064a8c;
}

.area_pergunta::-webkit-scrollbar {
  width: 8px;
  background-color: #e9e8e8;
  border-radius: 10px;
}

.area_pergunta::-webkit-scrollbar-thumb {
  background-color: #F28920;
  border-radius: 10px;
}


/* DIV DAS CHECKBOX'S DO POPUP DE CADASTRAR PERGUNTAS NO CHECKLSIT */

.checks{
  display: flex;
  width: 100%;
  justify-content: space-around;
}

#check1{
  cursor: pointer;
}

#check2{
  cursor: pointer;
}


/* BOTÕES DO POPUP DE CADASTRAR PERGUNTAS NO CHECKLSIT (cancelar e confirmar) */

.botoes{
  padding: 1%;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 2%;
}

.botao-padrao-cancelar{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
} 

.botao-ok-submit{
  width: 180px;
  height: 45px;
  background-color: var(--cor-primaria-botao-white);
  border: 3px solid var(--cor-primaria-botao-green);
  border-radius: 20px;
  cursor: pointer;
  color: var(--cor-primaria-botao-green);
  font-style: normal;
  font-size: 'Montserrat';
  font-weight: 580;
  font-size: 15px;
  text-align: center;
}

.botao-ok-submit:hover{
  transition: all 0.4s;
  background-color: var(--cor-primaria-botao-green);
  color: var(--cor-primaria-botao-white);
}


/* CARDS ONDE FICAM A LISTA DOS CHECKLISTS */

.pergunta_card{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F9F8F8;
  width: 99%;
  min-height: 65px;
  border-radius: 5px;
  margin-bottom: 0.5vh;
  box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.25);
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

/* BOTÃO DO CARD DE CHECKLIST */

.bi.bi-plus-circle{
  font-size: 27px;
  color: #064A8C;
  cursor: pointer;
  padding-right: 25px;
}


button.pergunta_popup {
  border: none;
  background-color: #ffffff;
}

/* TEXTO DO CARD CHECKLIST */

.card_text{
  max-width: 454px;
  width: 100%;
  word-wrap: break-word;
  font-size: medium;
  font-weight: bold;
  padding: 3%;
} 

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1059;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s; 
  transition: transform 0.4s, top 0.4s;
}


#form_cad_checklist_pergunta{

  position: absolute;
  z-index: 9999999999999;

}