*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --cor-primaria-botao-white: white; 
    --cor-primaria-botao-green: green;
    --cor-primaria-botao-red:   red;
    --cor-primaria-botao-yellow:rgba(255, 199, 0, 1);
    --cor-primaria-botao-blue:  rgba(6, 74, 140, 1);
}

.tela_gerenciam_perfis{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;

}
li{
    list-style: none;
}

.container_gp{
    margin-top: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.titulo_gp{
    font-size: 30px;
    font-weight: bold;
    color: black;

    
}

.Perfis{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.card_perfil{
    padding: 20px;
    width: 648px;
    height: 123px;
    margin-top: 80px;;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    border-radius: 28px;
    border: 1px solid #FFF;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    display: flex;
    
}
.tipo_perfil{
color: #000;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 33.6px */
letter-spacing: 0.2px;
margin-right: 20px;
}

.funcao{
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 19.6px */
    letter-spacing: 0.2px;
    border-radius: 13px;
    background: linear-gradient(0deg, rgba(250, 169, 22, 0.30) 0%, rgba(250, 169, 22, 0.30) 100%), #FFF;
    display: flex;
    padding: 5px;
    
}
.icone_perfil{
    width: 59px;
    height: 63px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-right: 20px;
}

.icone_editar{
    width: 30px;
    height: 30px;
    margin: 12px;
    display: flex;
    
}

.card_nome{
    width: 830px;
    height: 100px;
    margin: 80px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

}

.bi-trash{
    color: #E26E6E;
    width: 32px;
    height: 32px;  
    cursor: pointer;
    margin: 12px;


}
.botoes{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin-top: 20%;
    transition: all 0.5s;
    
  }

/* Css Botão Voltar */

.botao-padrao-voltar{
    height: 40px;
    display: flex;
  }
  
  .botao-voltar-submit{
    width: 180px;
    height: 45px;
    background-color: var(--cor-primaria-botao-white);
    border: 3px solid var(--cor-primaria-botao-yellow);
    border-radius: 20px;
    cursor: pointer;
    color: var(--cor-primaria-botao-yellow);
    font-style: normal;
    font-size: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
  
  }
  
  .botao-voltar-submit:hover{
    transition: all 0.4s;
    background-color: var(--cor-primaria-botao-yellow);
    color: var(--cor-primaria-botao-white);
  }
  
  
  
  /* Css Botão Novo Perfil */
  .botao-padrao-novo-perfil{
    width: 180px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 20%; */
}

.botao-novo-perfil-submit{
    width: 180px;
    height: 45px;
    background-color: var(--cor-primaria-botao-white);
    border: 3px solid var(--cor-primaria-botao-green);
    border-radius: 50px;
    cursor: pointer;
    color: var(--cor-primaria-botao-green);
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 16px;
}

.botao-novo-perfil-submit:hover{
    background-color: var(--cor-primaria-botao-green);
    color: var(--cor-primaria-botao-white);
}