*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --cor-primaria-botao-white: white; 
    --cor-primaria-botao-green: green;
    --cor-primaria-botao-red:   red;
    --cor-primaria-botao-yellow:rgba(255, 199, 0, 1);
    --cor-primaria-botao-blue:  rgba(6, 74, 140, 1);
}

.tela_gerenciam_perfis{
    max-width: 832px;
    max-height: 100vh;
    height: 100vh;
    overflow-y: hidden;
    position: relative;
    margin: 0 auto;
    height: 107vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat';
    margin-bottom: 10px;

}


li{
    list-style: none;
   
}
 
.container_gp{
    margin-top: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
        max-height: 65vh;
}

.cardsgerenc{
  height: 50%;
  width: 100%;
  font-family: 'Montserrat';
  overflow: hidden;
  overflow-y: scroll;
  padding: 0px 20px 20px 20px;
}


.cardsgerenc::-webkit-scrollbar{
  width: 8px;
  background-color: #eeeeee;
  border-radius: 10px;
}

.cardsgerenc::-webkit-scrollbar-thumb{
  background-color: #F28920;
  border-radius: 10px; 
} 
.titulo_gp{

    font-size: 23px;
    font-weight: bold;
    color: black; 
}



.Perfis{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Montserrat';
    font-size: 40px;
    margin-bottom: 20px;
}

.card_perfil{
  max-width: 730px;
  padding: 20px;
  width: 86vw;
  height: 9vh;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  border-radius: 28px;
  border: 1px solid #FFF;
  background: #f9f9f9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;


}
.tipo_perfil{
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 33.6px */
  letter-spacing: 0.2px;
  margin-right: 20px;
  font-family: 'Montserrat';
}

.funcao{
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.2px;
  border-radius: 13px;
  background: linear-gradient(0deg, rgba(250, 169, 22, 0.30) 0%, rgba(250, 169, 22, 0.30) 100%), #FFF;
  display: flex;
  padding: 5px;
  
}
.icone_perfil{
  width: 59px;
  height: 63px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-right: 20px;
}

.icone_editar{
  width: 20px;
  height: 20px;
  margin: 12px;
  display: flex;
  
}

.card_nome{
  width: 830px;
  height: 100px;
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  
}

.bi-trash{
  color: #f80606;
    cursor: pointer;
    font-size: 22px;
 }

/* 
  .container_gp2{
 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
  } */
  
  .container_gp2 {
  
    width: 100%;
    display: flex;

}
  .botao-padrao-cadastrar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .botao-cadastrar-submit{
    width: 180px;
    height: 45px;
    background-color: var(--cor-primaria-botao-white);
    border: 3px solid var(--cor-primaria-botao-green);
    border-radius: 20px;
    cursor: pointer;
    color: var(--cor-primaria-botao-green);
    font-style: normal;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 15px;
    
  }
  
  .botao-cadastrar-submit:hover{
    transition: all 0.4s;
    background-color: var(--cor-primaria-botao-green);
    color: var(--cor-primaria-botao-white);
  }
  
  
  
  .botao-padrao-voltar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .botao-voltar-submit{
    width: 180px;
    height: 45px;
    background-color: var(--cor-primaria-botao-white);
    border: 3px solid var(--cor-primaria-botao-yellow);
    border-radius: 20px;
    cursor: pointer;
    color: var(--cor-primaria-botao-yellow);
    font-style: normal;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
  
  .botao-voltar-submit:hover{
    transition: all 0.4s;
    background-color: var(--cor-primaria-botao-yellow);
    color: var(--cor-primaria-botao-white);
  }
  
  .alinar-botoes{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
  }
  
  
  /* CSS Botão Cadastrar */
    
  .botao-cadastrar-link {
    width: 180px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-primaria-botao-white);
    border: 3px solid var(--cor-primaria-botao-green);
    border-radius: 20px;
    cursor: pointer;
    color: var(--cor-primaria-botao-green);
    font-family: 'Montserrat', sans-serif; /* Corrigir a propriedade font-family */
    font-weight: bold;
    font-size: 15px;
    text-decoration: none; /* Adicionar sublinhado ao texto do link */
  }

  .botao-cadastrar-link:hover {
  transition: all 0.4s;
  background-color: var(--cor-primaria-botao-green);
  color: var(--cor-primaria-botao-white);
}



@media (max-width: 430px) {
  .card_perfil {
    width: 86vw;
    height: 5vh;
    font-size: 12px;
    margin-bottom: 8px;
  }
  .container_gp2{
    /* width: 80%; */

    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  .Perfis{
    font-size: 20px;
  }
  .bi-trash{
    font-size: 8px;
  }
  .icone_editar{
    width: 8px;
    height: 8px;
    margin: 8px;
  }
  .container_gp{
    max-height: 450px;
  }
  .tipo_perfil{
    font-size: 12px;
  }
  .cardsgerenc {
    height:45vh;
  }
  .botao-cadastrar-link{
    width: 110px;
    height: 32px;
    font-size: 12px;
}
.botao-voltar-submit{
  width: 110px;
  height: 32px;
  font-size: 12px;
}


}


@media (max-width: 832px) {

  /* .icone_editar{
    width: 27px;
    height: 27px;
    margin: 8px;
  } */
  .container_gp{
    max-height: 72vh; 
  }
  .cardsgerenc {
    max-height: 790px;
  }


}