.tela_notificacao{
    width: 100%;
    height: 100vh;
    display: flex;
    max-width: 832px;
    flex-direction: column;
    margin: 0 auto;
}


.container{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    overflow-y: auto;
    height: 60%;
    /* max-width: 800px; */
    width: 97%;
  }

  .container::-webkit-scrollbar{
    width: 8px;
    background-color: #eeeeee;
    border-radius: 10px;
  }
  
  .container::-webkit-scrollbar-thumb{
    background-color: #F28920;
    border-radius: 10px; 
  } 


#titulo{
    justify-content: center;
    font-family: "Montsserat";
    font-style: normal;
    display: flex;
    font-size: 45px;
    margin-bottom: 30px;
}

.bi.bi-heart-fill{
    color:#F28920;
}

.area_not{
    /* margin-top: 40px; */
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
 

.notificacao_individual{
    display: flex;
    width: 85%;
    height: 90px;
    justify-content: space-around;
    box-shadow: 2px 2px 5px 0px;
    margin-bottom: 40px;
    border-radius: 28px;
    border: 1px solid #FFF;
    background: #f9f9f9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.texto_notificacao{
    height: 100%;
    margin-left: 3%;
    width: 75%;
    text-align: justify;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.tempo{

    width: 100%;
    height: 50%
}


.coracao{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.coracao.active{
    display: none;
}

.coracaov2{
    display: none;
}

.coracaov2.active{
    display: block; 
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.tempo{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding-right: 15px;
    padding-top: 5px;
}

.alinhar_botao_voltar{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.botao-padrao-voltar {
    width: 100%;
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: center;
    background: white;
    position: fixed;
    bottom: 0;
  }
  
  .botao-voltar-link {
    /* width: 110px; */
    display: inline-block;
    padding: 10px 60px;
    background-color: var(--cor-primaria-botao-white);
    border: 3px solid var(--cor-primaria-botao-yellow);
    border-radius: 20px;
    cursor: pointer;
    color: var(--cor-primaria-botao-yellow);
    font-family: 'Montserrat', sans-serif; /* Corrigir a propriedade font-family */
    font-weight: bold;
    font-size: 15px;
    text-decoration: none; /* Adicionar sublinhado ao texto do link */
  }
  
  .botao-voltar-link:hover {
    transition: all 0.4s;
    background-color: var(--cor-primaria-botao-yellow);
    color: var(--cor-primaria-botao-white);
  }



@media screen and (max-width: 550px) { 

    .texto_notificacao {
        height: 100%;
        margin-left: 3%;
        width: 75%;
        text-align: justify;
        display: flex;
        align-items: center;
        font-size: 14px;
    }
    .notificacao_individual{

        /* display: flex;
        width: 80%;
        height: 110px;
        background-color: rgb(238, 238, 238);
        border-radius: 12px;
        justify-content: space-around;
        box-shadow: 2px 2px 5px 0px;
        margin-bottom: 40px; */




        display: flex;
        width: 80%;
        height: 110px;
        /* background-color: rgb(233, 233, 233); */
        /* border-radius: 12px; */
        justify-content: space-around;
        box-shadow: 2px 2px 5px 0px;
        margin-bottom: 40px;
        border-radius: 28px;
        border: 1px solid #FFF;
        background: #f9f9f9;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        cursor: pointer;


    }

    
}


