@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&family=Poppins:wght@300;400;500;600&family=Raleway:wght@200&display=swap');
*{
    /* font-family: "Poppins", sans-serif; */
    margin: 0;
    padding: 0;
}
button.show-modal,
.modal-box{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: #e3f2fd;
    padding: 14px 22px;
    border: none;
    background-color: #4070f4;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

}

button.show-modal:hover{
    background-color: #265df2;
}

.overlay-modal{
    opacity: 1;
    pointer-events: auto;
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0; 
    pointer-events: none; 
    z-index: 9999999999;
}
.modal-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 380px;
    width: 100%;
    background-color: #fff;
    border-radius: 24px;
    padding: 30px 20px;
    opacity: 0;
    pointer-events: none;
    z-index: 99969699999586554;


}
.modal-box i {
    font-size: 70px;
    color: #609437;
}
.modal-box .titulo_pop_up{
    margin-top: 20;
    font-size: 25px;
    font-weight: 500;
    color: #333;
}
.modal-box .subtitulo_pop_up{
    font-size: 16px;
    font-weight: 400;
    color: #726e6e;
    text-align: center;
}
.modal-box button{
    font-size: 14px;
    padding: 6px 12px;
    margin: 0 10px;

}
.modal-box .buttons-pop_up{
    margin-top: 25px;
}
.buttons-pop_up{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .section_modal{
   
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    left: 0;
    justify-content: center;
} */
.close-btn{
    margin-top: 20px;
    width: 120px;
    height: 45px;
    background-color: #609437;
    border-radius: 20px;
    cursor: pointer;
    color: var(--cor-primaria-botao-green);
    font-style: normal;
    font-size: 15px;
    font-weight: 580;
    color: white;

}

.section_modal{

    height: 100vh;
    left: 0;
    width: 100vw;
    position: fixed;
    z-index: 999999999999999999999999;
    display: flex;
    align-items: center;
    justify-content: center;


}