@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&family=Poppins:wght@300;400;500;600&family=Raleway:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.section_modal{ 
      top : 0;
      z-index: 99999;
      position: fixed;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.3);
      left: 0;
}
button.show-modal,
.modal-box{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: #e3f2fd;
    padding: 14px 22px;
    border: none;
    background-color: #4070f4;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

}
button.show-modal:hover{
    background-color: #265df2;
}

.overlay-modal{
    position: fixed;
    z-index: 99999;
    height: 100vh;
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
}
.modal-box{
    display: flex;
    z-index: 99999;
    flex-direction: column;
    align-items: center;
    max-width: 380px;
    width: 100%;
    background-color: #fff;
    border-radius: 24px;
    padding: 30px 20px;
    opacity: 0;
    pointer-events: none;

}
.modal-box #icon-pergunta {
    font-size: 70px;
    color: #609437; 
}

       
.modal-box .fa-regular.fa-circle-xmark {
    color: #CB1010 !important; 
}
.modal-box .titulo_pop_up{
    margin-top: 20px;
    font-size: 25px;
    font-weight: 500;
    color: #333;
}
.modal-box .subtitulo_pop_up{
    font-size: 16px;
    font-weight: 400;
    color: #726e6e;
    text-align: center;
}
.modal-box button{
    font-size: 14px;
    padding: 6px 12px;
    margin: 0 10px;

}
.modal-box .buttons-pop_up{
    margin-top: 25px;
}
.buttons-pop_up{
    display: flex;
    align-items: center;
    justify-content: center;
}
.close-btn{
    margin-top: 20px;
    width: 120px;
    height: 45px;
    background-color: #CB1010; 
    border-radius: 20px;
    cursor: pointer;
    color: white;
    font-style: normal;
    font-size: 15px;
    font-weight: 580;

}
.open-btn-excluir{
    margin-top: 20px;
    width: 120px;
    height: 45px;
    background-color: #609437;
    border: 3px solid var(--cor-primaria-botao-green);
    border-radius: 20px;
    cursor: pointer;
    color: #e3f2fd;
    font-style: normal;
    font-size: 15px;
    font-weight: 580;
}
.close-modal-btn{
    margin-top: 20px;
    width: 120px;
    height: 45px;
    background-color: #609437; 
    border-radius: 20px;
    cursor: pointer;
    color: white;
    font-style: normal;
    font-size: 15px;
    font-weight: 580;
}
.fa-circle-xmark  {
    color: #CB1010;
}