.body_mural{
    max-width: 832px;
    position: relative;
    margin: 0 auto;
}
.title_principal{
     
    text-align: center;
    font-size: 40px;
}
.icon_card_recado_excluir, .icon_card_recado_editar{
    cursor: pointer;
}
.geral{

    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;

}
.content{

    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;

}

.card{

    width: 150px;
    height: 200px;
    background-color: #064A8C;
    border-radius: 20px;
    box-shadow: 0px 5px 5px 0px #F7941D;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.msg_aviso{

    color: white;
   
    word-wrap:  break-word;
    max-width: 130px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    position: absolute;

}

.area_btn_add{

    width: 150px;
    height: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.img_btn_add{

    position: relative;
    z-index: 9;
    cursor: pointer;
    width: 70px;

}
.area_bot{

     
   height: 100%;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    opacity: 0;
    transition: 0.2s linear;

}
.card:hover .area_bot{


    opacity: 1;

}

.bloco_bot{

    width: 100%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0px 0px 20px 20px;
    display: flex;
    position: relative;
    z-index: 3;
    align-items: center;
    justify-content: space-around;

}
.area_cards_recados_mural{
    display: flex;
    align-items: center;
    width: 630px;
    flex-wrap: wrap;
    margin: 0 auto;
    position: relative;
     
    gap: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}
 
.area_modal_excluir_recado{

   display: none;
   flex-direction: column;
   width: 500px;
   border-radius: 15px;
   height: 250px;
   top: 50%;
   
   left: 50%;
   transform: translate(-50% ,-50%);
   position: fixed;
   z-index: 9;
   
   background-color: rgb(225, 225, 225);

}
.area_modal_excluir_recado.active{

    display: flex;

}
.title_modal_excluir{

    font-size: 25px;
    text-align: center;
    margin-top: 50px;
    width: 100%;
    padding: 20px;

}
.area_btns_modal_excluir{
    position: absolute;
    width: 100%;
    bottom: 30px;
    display: flex;
    justify-content: space-around;
}