@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap');
*{margin: 0;
  padding: 0;
  box-sizing: border-box;}
  
:root{
    --cor-primaria-botao-white: white; 
    --cor-primaria-botao-green: green;
    --cor-primaria-botao-red:   red;
    --cor-primaria-botao-yellow:rgba(255, 199, 0, 1);
    --cor-primaria-botao-blue:  rgba(6, 74, 140, 1);
    ;
}

body{
  font-family: 'Montserrat',sans-serif;
}

.overlay_recado {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1059;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;
}
.btn-pop{
  margin-top: 500px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.btn-popup-thays{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  cursor: pointer;
}

.popup-mural-recado {
  background: var(--gray-white, #FFF);
  display: flex;
  width: 395px;
  height: 360px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  gap: 8px;
  border-radius: 6px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.08), 0px 0px 2px 0px rgba(0, 0, 0, 0.12);
}

/* Estilos opcionais para o conteúdo do pop-up */


.popup-mural-conf p {
    color: #000;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: -1.44px;
}

.edita-recado-mural{
  font-family: 'Montserrat';
  font-size: 18px;
}

.texto-recado-mural{
  display: flex;
  font-weight: bolder;
  width: 100%;
  align-items: center;
  padding-left: 50px;
  font-size: 20px;
  padding-top: 10px;

}

.div-pop{
  margin-top: 6px;
  display: flex;
  width: 330px;
  height: 211px;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #535353;
  font-family: 'Montserrat';
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
}

.edita_recado{
  font-family: 'Montserrat';
  font-size: 18px;
}

.text-descricao-pop-up{
  border: none;
  height: 100%;
  width: 100%;
  resize: none;
  border-radius: 5px;
  padding: 20px;
  outline: none;
  font-size: 16px;
  background-color: #f9f8f8;
  font-family: 'Montserrat';
}
/* CONTAINER DOS BOTOES */
.container-pop-up-botaoes{
  display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-top: 11px;
    gap: 10%;

}

/* Css Botão Confirmar */

.botao-padrao-confirmar{
   display: flex;
   align-items: center;
   justify-content: center;
}

.botao-confirmar-submit{
    width: 150px;
    height: 40px;
    background-color: var(--cor-primaria-botao-white);
    border: 3px solid var(--cor-primaria-botao-green);
    border-radius: 20px;
    cursor: pointer;
    color: var(--cor-primaria-botao-green);
    font-style: normal;
    font-family: 'Montserrat';
    font-weight: 580;
    font-size: 14px;
}

.botao-confirmar-submit:hover{
    transition: all 0.4s;
    background-color: var(--cor-primaria-botao-green);
    color: var(--cor-primaria-botao-white);
}

/* Css Botão Cancelar */

.botao-padrao-cancelar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao-cancelar-submit{
    width: 150px;
    height: 40px;
    background-color: var(--cor-primaria-botao-white);
    border: 3px solid var(--cor-primaria-botao-red);
    border-radius: 20px;
    cursor: pointer;
    color: var(--cor-primaria-botao-red);
    font-style: normal;
    font-family: 'Montserrat';
    font-weight: 580;
    font-size: 14px;

}

.botao-cancelar-submit:hover{
    transition: all 0.4s;
    background-color: var(--cor-primaria-botao-red);
    color: var(--cor-primaria-botao-white);
}



@media screen and (max-width: 768px) {

  .div-pop{
    width: 90%;
    left: 10%;
    margin-top: 50px;
  }
  .edita-recado-mural{
    right: 80%;
    width: 148vw;
  }
  .container-pop-up-botaoes{
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%
  }
  
  

  
}
@media screen and (max-width:855px) {
  .edita_recado-mural{
    width: 90vw;
    right: -1%;
  }
  
}