@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.pai_de_todos{
    width: 100%;
    height: 100%;
    max-width: 832px;
    position: relative;
    margin: 0 auto;
}

.todo-projeto {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza na horizontal */
}

#titulo-pergunta {
    font-size: medium;
    font-family: 'Montserrat';
}

#titulo {
    font-family: 'Montserrat';
    margin-top: 40px;
}
.titulo-topo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* --------------INPUTS -------------- */
.inputs-cadastro-checklist {
    display: flex;
    flex-wrap: wrap; /* Adiciona quebra de linha caso necessário */
    justify-content: space-between; /* Espaço entre os elementos */
    max-width: 800px;
    padding: 20px;
}

.cadastro-checklist {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.input_group.field {
    margin-bottom: 20px;
}

/* --------------CAIXA DE PERGUNTAS-------------- */
.selecao-perguntas {
    display: flex;
    flex-direction: column;
}

/*--------------BOTÕES-------------- */
.botoes {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.botoes-cadastro-checklist {
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

