@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.pai_de_todos{
    width: 100%;
    height: 100%;
    max-width: 832px;
    position: relative;
    margin: 0 auto;
}

.todo-projeto {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza na horizontal */
}

#titulo-pergunta {
    font-size: medium;
    font-family: 'Montserrat';
}

#titulo {
    font-family: 'Montserrat';
    margin-top: 40px;
}
.titulo-topo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.selecao-pergunta {
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
    max-width: 800px;
    max-height: 400px;
}

.selecao-pergunta::-webkit-scrollbar{
    background-color: #e7e7e7;
    border-radius: 5px;
    width: 8px;
    
}
.selecao-pergunta::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: #F28920;
}
/* --------------INPUTS -------------- */
.inputs-cadastro-checklist {
    display: flex;
    flex-wrap: wrap; /* Adiciona quebra de linha caso necessário */
    justify-content: space-between; /* Espaço entre os elementos */
    max-width: 800px;
    padding: 20px;
}

.cadastro-checklist {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.input_group.field {
    margin-bottom: 20px;
}

/* --------------CAIXA DE PERGUNTAS-------------- */
.selecao-perguntas {
    display: flex;
    flex-direction: column;
}

/*--------------BOTÕES-------------- */
.botoes {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.botoes-cadastro-checklist {
    display: flex;

    justify-content: space-between;
    width: 1000px;
}

/* Tabela de perguntas */


.tabela-perguntas{
    border-collapse: collapse;
    border-radius: 15px;
    
}

.topo-tabela{
    position: sticky;
    top: 0px;

}

