*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

:root{
  --cor-primaria-botao-white: white; 
  --cor-primaria-botao-green: green;
  --cor-primaria-botao-red:   red;
  --cor-primaria-botao-yellow:rgba(255, 199, 0, 1);
  --cor-primaria-botao-blue:  rgba(6, 74, 140, 1);
  --cor-label:black;
} 


#mostrar-nao-conformidade {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 1);
  justify-content: center;
  align-items: center;
}

#gambiarra {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

#content-nao-conformidade {
  width: 80%;
  height: 50%;
}

#div_do_texto_nao_conformidade {
  min-height: 100px;
  margin-bottom: 20px;
}

#titulozin{
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;


}


.prasair{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 80px;
}

.prasair i {
  font-size: 50px;
  cursor: pointer;
}

#titulozin p {
  font-size: 20px;
  font-weight: bold;
}

#texto_em_agora_n_conf{
  border: 1px solid black;
  border-radius: 20px;
  min-height: 100px;
  width: 100%;
  padding: 8px;
  word-wrap: break-word;
}

#texto_em_agora_n_conf p{
  font-size: 15px;
  width: 100%;
  height: 100%;
  text-align: justify;
}

.images-nao-conformidade {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 50px;
}

.imgs{
  width: 33%;
  height: 100%;
  border: solid 1px black;
  border-radius: 20px;

}
.imgs img{

  border-radius: 20px;
  width: 100%;
  height: 100%;
}





.container_checklist{
max-width: 832px;
position: relative;
margin: 0 auto;
display: flex;
flex-direction: column;
align-items: center;
}

.main_checklist {
width: 96%;
max-width: 96%;
max-height: 728px;
margin-right: 2%;
}


.list-pre-aula::-webkit-scrollbar{
width: 8px;
background-color: #eeeeee;
border-radius: 10px;
}

.list-pre-aula::-webkit-scrollbar-thumb{
background-color: #FAA916;
border-radius: 10px; 
} 

/* TA AQUIIIIII */



.titulo_checklist{
  color: #000;
  font-family: 'Montserrat';
  font-size: 35px;
  font-style: normal;
  font-weight: bold;
  line-height: 140%;
  letter-spacing: 0.2px;
}

.nome_sala{
  color: #000;
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: bold;
  line-height: 140%; 
  letter-spacing: 0.2px;
  margin-bottom:30px;
}


.input_checklist{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 0 0 30px 0;
}



.label_checklist-right{
  flex-direction: column;
  justify-content: space-between;
  min-height: 100px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background: #F9F8F8;
  width: 80%;
  transition: height 0.3s ease; 
  }
  


.label_checklist-wrong{
  min-height: 100px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background: #F9F8F8;
  width: 80%;
  transition: height 0.3s ease; 
  }
  





.list-pre-aula{
  max-height: 550px;
  overflow: hidden;
  overflow-y: scroll
}




.alinar-botoes{
  width: 100%;
    display: flex;
    justify-content: space-evenly;
    bottom: 0px;
    background: rgb(255, 255, 255);
    height: 90px;
    max-width: 832px;
}

.botao-padrao-voltar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botao-padrao-cadastrar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}







































.botao-cadastrar-submit{
  width: 180px;
  height: 45px;
  position: relative;
  background-color: transparent;
  border: 3px solid var(--cor-primaria-botao-green);
  border-radius: 20px;
  cursor: pointer;
  color: var(--cor-primaria-botao-green);
  font-style: normal;
  
  font-weight: bold;
  font-size: 15px;
}

.botao-cadastrar-submit:hover{
  transition: all 0.4s;
  background-color: var(--cor-primaria-botao-green);
  color: var(--cor-primaria-botao-white);
}

.botao-voltar-link {
  display: inline-block;
  padding: 10px 60px;
  position: relative;
  background-color: transparent;
  border: 3px solid var(--cor-primaria-botao-yellow);
  border-radius: 20px;
  cursor: pointer;
  color: var(--cor-primaria-botao-yellow);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
}

.botao-voltar-link:hover {
  transition: all 0.4s;
  background-color: var(--cor-primaria-botao-yellow);
  color: var(--cor-primaria-botao-white);
}



.botao-padrao-voltar-label {
  width: 100%;
}

.botao-padrao-cadastrar-label{
  width: 100%;
}

.botao-cadastrar-submit-label{
  float: right;
  position: relative;
  right: 30px;
  width: 60%;
  height: 45px;
  background-color: var(--cor-primaria-botao-white);
  border: 3px solid var(--cor-primaria-botao-green);
  border-radius: 20px;
  cursor: pointer;
  color: var(--cor-primaria-botao-green);
  font-style: normal;
  
  font-weight: bold;
  font-size: 15px;
}


.botao-voltar-link-label {
  float: left;
  position: relative;
  left: 30px;
  width: 60%;
  height: 45px;
  background-color: var(--cor-primaria-botao-white);
  border: 3px solid var(--cor-primaria-botao-yellow);
  border-radius: 20px;
  cursor: pointer;
  color: var(--cor-primaria-botao-yellow);
  font-family: 'Montserrat', sans-serif; 
  font-weight: bold;
  font-size: 15px;
  text-decoration: none; 
}

.botao-cadastrar-submit-label:hover{
  transition: all 0.4s;
  background-color: var(--cor-primaria-botao-green);
  color: var(--cor-primaria-botao-white);
}

.botao-voltar-link-label:hover {
  transition: all 0.4s;
  background-color: var(--cor-primaria-botao-yellow);
  color: var(--cor-primaria-botao-white);
}

.divH1andButton {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.imagens-container-acao-corretiva{

  
  display: flex;
  align-items: center;
  justify-content: space-around;


}

@media(max-width:1400px){
  .botoes{
    margin-top: 10%;
  }

  .main_checklist{
    flex-wrap: wrap;
  } 

  .images-nao-conformidade{
    flex-direction: column;
    align-items: center;
    height: 143vh;
  }

  .imgs{
    border: solid 1px black;
    border-radius: 20px;
    width: 100%;
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

