
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --cor-primaria-botao-white: white; 
  --cor-primaria-botao-green: green;
  --cor-primaria-botao-red:   red;
  --cor-primaria-botao-yellow:rgba(255, 199, 0, 1);
  --cor-primaria-botao-blue:  rgba(6, 74, 140, 1);
}

body
{
  max-width: 832px;
  
  margin: auto;
  height: 100%;
  overflow: hidden;
  font-family: 'Montserrat';
}

li
{
  list-style: none; 
}   




.cardsgerenc
{
height: 70% ;
width: 97%;
overflow-y: scroll;
padding: 0px 0px 0px 20px;
}

.cardsgerenc::-webkit-scrollbar{
width: 8px;
background-color: #eeeeee;
border-radius: 10px;
}

.cardsgerenc::-webkit-scrollbar-thumb{
background-color: #F28920;
border-radius: 10px; 
} 

.Perfis
{
  font-family: 'Montserrat';
  font-size: 40px;
  text-align: center;

}

.div_card_perfil
{
  display: flex;

}

.card_perfil
{
padding: 40px;
width: 100%;
background-color: red;
border-radius: 28px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.botoes_direita
{
  display: flex;
  align-items: center;
  margin: 0 30px 0 30px;
}
.botoes_direita a
{
  font-size: 40px;
}

.icone_menu
{
  width: 30px;
  height: 30px;
  margin: 12px;
  display: flex;
}

.tipo_perfil
{
color: #000;
font-size: 20px;
font-style: normal;
font-weight: 600;
letter-spacing: 0.2px;
margin-right: 20px;
font-family: 'Montserrat';
}

.titulo_gp
{
  margin: 10px 0 10px 0;
  width: 80%;
}


.botao-voltar-submit{
  width: 180px;
  height: 45px;
  background-color: var(--cor-primaria-botao-white);
  border: 3px solid var(--cor-primaria-botao-yellow);
  border-radius: 20px;
  cursor: pointer;
  color: var(--cor-primaria-botao-yellow);
  font-style: normal;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.botao-voltar-submit:hover{
  transition: all 0.4s;
  background-color: var(--cor-primaria-botao-yellow);
  color: var(--cor-primaria-botao-white);
}

.container_gp{
  height: 60vh;
}
.container_gp2
{
  width: 97%;
  padding: 30px 0 40px 0;
}

.alinar-botoes
{
  display: flex;
  justify-content: space-evenly;
}

.botao-cadastrar-link {
  display: inline-block;
  padding: 12px 40px;
  background-color: var(--cor-primaria-botao-white);
  border: 3px solid var(--cor-primaria-botao-green);
  border-radius: 20px;
  cursor: pointer;
  color: var(--cor-primaria-botao-green);
  font-family: 'Montserrat', sans-serif; /* Corrigir a propriedade font-family */
  font-weight: bold;
  font-size: 15px;
  text-decoration: none; /* Adicionar sublinhado ao texto do link */
}

.botao-cadastrar-link:hover {
transition: all 0.4s;
background-color: var(--cor-primaria-botao-green);
color: var(--cor-primaria-botao-white);
}



@media (max-width: 400px)
{

  .card_perfil
  {
    height: 5vh;
    display: flex;
    align-items: center;
  }


  .Perfis
  {
    font-size: 30px;
  }


  .botoes_direita
  {
    margin: 0 10px 0 10px;
  }
  .botoes_direita a
  {
    font-size: 22px;
  }

  .icone_menu
{
  width: 17px;
  height: 17px;
}
  
  .tipo_perfil
  {
    font-size: 12px;
  }


.botao-voltar-submit
{
  width: 120px;
}

.botao-cadastrar-link
{
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

  }