*{margin: 0;
  padding: 0;
  box-sizing: 0;
}

:root{
  --cor-primaria-botao-white: white; 
  --cor-primaria-botao-green: green;
  --cor-primaria-botao-yellow:rgba(255, 199, 0, 1);
}

/* Css input Senha */

.input_senha_group.field{
  width: 100%;
  max-width: 84%;/*84%*/;
  min-width: 50%; 
  
}
  
.input_senha_group.field2{
    width: 100%;
    max-width: 84%;
    min-width: 50%;
    margin-top: 2%;

}
 
.input_senha_group.field3{
  width: 100%;
  max-width: 84%;
  min-width: 50%;
  margin-top: 2%;

}

.input_senha_group {
  position: relative;
  padding: 20px 0 0;
  width: 100%;
}

.input_senha_field {
  width: 100%;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  left: 10px;
}

.input_senha_field::placeholder {
  color: transparent;
}

.input_senha_field:placeholder-shown ~ .input_senha_label {
  font-size: 17px;
  cursor: text;
  top: 37px;
  left: 10px;
}

.input_senha_label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  color: #9b9b9b;
  pointer-events: none; 
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  left: 10px;
}

.input_senha_field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image-slice: 1;
}

.input_senha_field:focus ~ .input_senha_label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  font-weight: 700;
  left: 10px;
}
  
.input_senha_field:required, .input_senha_field:invalid {
  box-shadow: none;
}

/* Css input Email */

.input_e-mail_group.field{
  width: 100%;
  max-width: 700px;
  min-width: 300px;
}

.input_e-mail_group {
  position: relative;
  padding: 20px 0 0;
  width: 100%;
}

.input_e-mail_field {
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    color: black;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    left: 10px;
}

.input_e-mail_field::placeholder {
  color: transparent;
}

.input_e-mail_field:placeholder-shown ~ .input_e-mail_label {
  font-size: 17px;
  cursor: text;
  top: 37px;
  left: 10px;
}

.input_e-mail_label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.3s;
  color: #9b9b9b;
  pointer-events: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  left: 10px;
}

.input_e-mail_field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image-slice: 1;
}

.input_e-mail_field:focus ~ .input_e-mail_label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.3s;
  font-size: 17px;
  font-weight: 700;
  left: 10px;
}

.input_e-mail_field:required, .input_e-mail_field:invalid {
  box-shadow: none;
}

/* Css Botão Confirmar */

.botao-padrao-confirmar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 7%; 
}

.botao-confirmar-submit{
  width: 50%; /* 44%*/
  height: 172%; /*170%*/
  background-color: transparent;
  border: 3px solid var(--cor-primaria-botao-green);
  border-radius: 20px;
  cursor: pointer;
  color: var(--cor-primaria-botao-green);
  font-style: normal;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 15px;
}

.botao-confirmar-submit:hover{
  transition: all 0.4s;
  background-color: var(--cor-primaria-botao-green);
  color: var(--cor-primaria-botao-white);
}

/* Css Botão Voltar */

.botao-padrao-voltar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 7%; 
}

.botao-voltar-submit{
  width: 44%; /*180px 44%*/
  height: 150%; /*40px  150%*/
  background-color: transparent;
  border: 3px solid var(--cor-primaria-botao-yellow);
  border-radius: 20px;
  cursor: pointer;
  color: var(--cor-primaria-botao-yellow);
  font-style: normal;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.botao-voltar-submit:hover{
  transition: all 0.4s;
  background-color: var(--cor-primaria-botao-yellow);
  color: var(--cor-primaria-botao-white);
}

/* @media (max-width: 832px){
  .input_senha_group.field{
    margin-top: 25px;
  }
    
  .input_senha_group.field2{
    margin-top: 25px;
  }
  
  .input_senha_group.field3{
    margin-top: 25px;
  }
} */